[Unit]
Description=Sync code from Github

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /home/ec2-user/pushup/infra/github_syncer.sh
User=ec2-user
Group=systemd-journal
